/* *{ */
/* padding:0 !important;
  margin:0 !important; */
/* } */

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  --Title-font: "Roboto Condensed", sans-serif;

  --normal-text: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --red-main: #ea1717;
  --yellow: #fbd800;
  --text-color: #111111
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
ul {
  margin: 0 !important;
}
li {
  list-style: none;
}
Link{
  font-size: clamp(1rem, 4vw, 1.6rem);
  /* font-weight: 500; */
  color: whitesmoke;
  text-decoration: none;
}
Link:hover {
  cursor: pointer;
  color: var(--yellow);
}
h1,
h2,
h4,
h5,
h6 {
  font-family: var(--Title-font);
  color:var(--text-color);
}
body {
  font-family: var(--normal-text);
  font-weight: 400;
 margin: 0 !important;
  padding: 0 !important;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* .category-img {
  border-radius: 50%;
} */
.nav {
  /* border-bottom: .5px solid var(--red-main) !important; */
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.3);
}
.btn{
  background-color: var(--red-main) !important;
  border: none !important;
  color:white !important;
}
#mobileLogo {
  display: none;
}

.serviceCategories{
  margin-top: 5rem !important;
}
.category-container{
  display: grid;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 1rem;
  padding-block: 1rem;
  margin-bottom: 2rem;
}

.category-icon-container{
  width: clamp(80px, 10vw, 120px);
  height:clamp(80px, 10vw, 120px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-icon-container{
  /* background-color: #fbd800; */
  text-align: center;
  padding: 20px;
  border-radius: 50%;
}
.category-text{
  font-size: clamp(.5rem, 3vw, 1rem) !important;
}
/* .category-icon-container:hover .category-text{ */
  /* transform: scale(1.1) !important; */
  /* color:rgba(0, 0, 0, 0.1); */
  /* color:yellow !important */
/* } */
.category-icon-container:hover .icon{
  animation: rotate360 1500ms;
}
.icon{
  font-size: clamp(2rem ,10vw, 5rem);
}

@keyframes rotate360 {
  100%{
    transform: rotate(360deg);
  }
}

.footer{
  border-top: .5px solid var(--red-main) !important;
}
.footer ul{
  border-bottom: none !important;
}
@media only screen and (max-width: 500px) {
  #navigationBar {
    position: fixed !important;
    bottom: 0 !important;
    right: 0;
    left: 0;
    z-index: 2;
  }
  #logoImage {
    display: none !important;
  }
  #navigationContainer {
    padding: 0.5rem !important;
    width: 100% !important;
    justify-content: space-between !important;
  }
  #navigationContainer Link{
    font-size: clamp(1rem, 5vw, 5rem) !important;
  }

  #mobileLogo {
    display: flex !important;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 0.5rem !important;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 0.5px solid var(--red-main) !important;
  }
  .nav {
    border-bottom: none !important;
  }
  #heading{
    font-size: clamp(1.8rem, 10vw, 2.5rem) !important;
  }
  .footer{
      margin-block:clamp(3.8rem, 4vw, 4.1rem)!important;
  }
  body {
    background-position: 59% 0;
  }
}
